In [1]:
import pandas as pd
data = [{'a': 1, 'b': 2}, {'a': 5, 'b': 10, 'c': 20}]

In [2]:
df = pd.DataFrame(data, index=['first', 'second'])

In [3]:
print(df)

        a   b     c
first   1   2   NaN
second  5  10  20.0

In [4]:
df

        a   b     c
first   1   2   NaN
second  5  10  20.0