In [8]:
import pandas as pd
data = [{'a': 1, 'b': 2}, {'a': 5, 'b': 10, 'c': 20}]

In [9]:
df = pd.DataFrame(data, index=['first', 'second'])

In [11]:
df

        a   b     c
first   1   2   NaN
second  5  10  20.0

In [6]:
a = 3

In [15]:
type(a)

int

In [21]:
def is_prime(n):
    for i in range(2, int(n**0.5)+1):
        if n%i==0:
            return False
    return True

def create_list(n):
  result = []
  for i in range(2, n):
    if (is_prime(i)):
      result.append(i)
  return result

In [22]:
def create_list2(n):
    arr = [True for i in range(n + 1)]
    p = 2
    while (p * p <= n):
        if (arr[p] == True):
            for i in range(p * p, n + 1, p):
                arr[i] = False
        p += 1
    result = []
    for p in range(2, n):
        if arr[p]:
            result.append(p)
    return result

In [23]:
import time

In [24]:
start = time.time()
create_list(1000000)
end = time.time()

In [25]:
end - start

5.918859004974365

In [26]:
start = time.time()
create_list2(1000000)
end = time.time()

In [27]:
end - start

0.29677820205688477