# Lab 0: Warmup - Basic Python


Firstly, please give your information

Student ID: 20127370

Student Name: Mai Quý Trung

## Jupyter and Colab Notebooks


Before giving you a brief introduction to Python, we will briefly talk about *notebook*. Jupyter notebook is an open source web application that allows us to write (code) and run Python code locally on your computer, particularly in your browser (Google Chrome, Mozilla Firefox, and so on). Furthermore, you can use Visual Studio Code to create a notebook with some extensions. Jupyter notebook is very easy to use; its documents contain live code, equations, visualizations, and text, so that they are widely used in the scientific computing community.

Why the name is Jupyter Notebooks. Because the name, Jupyter, comes from the core supported programming languages that Jupyter Notebooks supports. Those programming languages are Julia, Python, and R.


Google Colab, or Colab for short, is a Google Jupyter notebook that is specifically familiar with machine learning, data analysis, and scientific computing and runs entirely on the cloud. Colab is essentially a Jupyter Notebook that is free, does not require you to set up an environment, has many installed packages, is simple to share with others, and benefits greatly from hardware accelerators such as GPU and TPU. 

**Run Tutorial in Colab (onlinely)**: Upload this tutorial on your Google Drive and open it with Colab.

**Run Run Tutorial in Jupyter Notebook (locally)**: You need to install Anaconda to provide the environment that allows you to create a virtual environment by installing packages, etc. (Depend your operating system, please read the link https://docs.anaconda.com/anaconda/install/)

In this tutorial, you will learn basic Python. At first, you setup the Conda environment by using the file `min_ds-env.yml`. Then, in the **TODO** task, you write Python code to finish this tutorial.

## Primitive Datatypes and Operators

In [1]:
# You have numbers
3  # => 3

3

In [2]:
# To print something
print("Something")
print(4)

Something
4

In [3]:
# Math is what you would expect
print(1 + 1)   # => 2
print(8 - 1)   # => 7
print(10 * 2)  # => 20
print(35 / 5)  # => 7.0

2
7
20
7.0

In [4]:
# Integer division rounds down for both positive and negative numbers.
print(10 // 2)
print(-10 // 2)
print(10 // -2)
print(-10 // -2)

print(10.0 // 2)
print(10 // 2.0)
print(10.0 // 2.0)

print(10.0 // 3)

5
-5
-5
5
5.0
5.0
5.0
3.0

In [5]:
# The result of division is always a float
print(10.0 / 3)  # => 3.3333333333333335

3.3333333333333335

In [6]:
# Modulo operation
print(8 % 5)
print(-8 % 5)

print(8 % -5)
print(-8 % -5)

# TODO: What is the issue here?
# The calculation -8 % 5 and -8 % -5 should have a result of -3 instead of 2 and -3 respectively.
# And the calculation 8 % -5 should have a result of 3 instead of -2.

3
2
-2
-3

In [7]:
# Exponentiation (x**y, x to the yth power)
print(4**3)

64

In [8]:
# Enforce precedence with parentheses

equation_1 = (1 + 3) * 2
equation_2 = 1 + 3 * 2

print(equation_1)
print(equation_2)

8
7

In [9]:
# Boolean values are primitives (Note: the capitalization)
print(True)   # => True
print(False)  # => False

# negate with not
print(not True)   # => False
print(not False)  # => True

True
False
False
True

In [10]:
# Boolean Operators
# Note "and" and "or" are case-sensitive
print(True and False)  # => False
print(False or True)   # => True

False
True

In [11]:
# True and False are actually 1 and 0 but with different keywords
print(True + True) # => 2
print(True * 8)    # => 8
print(False - 5)   # => -5

2
8
-5

In [12]:
# Comparison operators look at the numerical value of True and False
print(0 == False)  # => True
print(1 == True)   # => True
print(2 == True)   # => False
print(-5 != False) # => True

True
True
False
True

In [13]:
# None, 0, and empty strings/lists/dicts/tuples/sets all evaluate to False.
# All other values are True
print(bool(0))     # => False
print(bool(""))    # => False
print(bool([]))    # => False
print(bool({}))    # => False
print(bool(()))    # => False
print(bool(set())) # => False
print(bool(4))     # => True
print(bool(-6))    # => True

False
False
False
False
False
False
True
True

In [14]:
# Using boolean logical operators on ints casts them to booleans for evaluation, but their non-cast value is returned

# Don't mix up with bool(ints) and bitwise and/or (&,|)

print(bool(0))     # => False
print(bool(2))     # => True
print(0 and 2)     # => 0
print(bool(-5))    # => True
print(bool(2))     # => True
print(-5 or 0)     # => -5

False
True
0
True
True
-5

In [15]:
# Equality is ==
1 == 1  # => True
2 == 1  # => False

False

In [16]:
# Inequality is !=
1 != 1  # => False
2 != 1  # => True

True

In [17]:
# More comparisons
1 < 10  # => True
1 > 10  # => False
2 <= 2  # => True
2 >= 2  # => True

True

In [18]:
# Seeing whether a value is in a range
1 < 2 and 2 < 3  # => True
2 < 3 and 3 < 2  # => False

False

In [19]:
# Chaining makes this look nicer
1 < 2 < 3  # => True
2 < 3 < 2  # => False

False

In [20]:
# (is vs. ==) is checks if two variables refer to the same object, but == checks
# if the objects pointed to have the same values.

from copy import copy


a = [1, 2, 3, 4]  # Point a at a new list, [1, 2, 3, 4]
b = a             # Point b at what a is pointing to

print(b is a)            # => True, a and b refer to the same object
print(b == a)            # => True, a's and b's objects are equal
print(b == [1, 2, 3, 4])  
# Point b at a new list, [1, 2, 3, 4]
b = [1, 2, 3, 4]
print(b is a)            # => False, a and b do not refer to the same object
print(b == a)            # => True, a's and b's objects are equal

a_cp = copy(a)

print(a_cp is a)     

# TODO: Ouput: False
# explain why?
# False because a and a_cp do not rerfer the same object, which means they do not point to the sam id (address).
# And a_cp is a copy variable of a, therefore they will have the same value but not the same id.

True
True
True
False
True
False

In [21]:
# Strings are created with " or '
print("This is a string.")

print('This is also a string.')

This is a string.
This is also a string.

In [22]:
# Strings can be added too
print("Hello " + "world!")  # => "Hello world!"

# String literals (but not variables) can be concatenated without using '+'
print("Hello " "world!")    # => "Hello world!"

Hello world!
Hello world!

In [23]:
# A string can be treated like a list of characters
print("Hello world!"[0])  # => 'H'

H

In [24]:
# You can find the length of a string
len("This is a string")  # => 16

16

In [25]:
# You can also format using f-strings or formatted string literals (in Python 3.6+)

# TODO:
# Replace your_name with your name

name = "Mai Quý Trung"
print(f"I said my name is {name}.")  # => "I said my name is your_name"

# You can basically put any Python expression inside the braces and it will be output in the string.
# => "your_name is {length of your name} characters long."
print(f"{name} is {len(name)} characters long.")


# Or you can use .format method
print("I said my name is {}.".format(name))

print("{} is {} characters long.".format(name, len(name)))

I said my name is Mai Quý Trung.
Mai Quý Trung is 13 characters long.
I said my name is Mai Quý Trung.
Mai Quý Trung is 13 characters long.

In [26]:
# None is an object
None  # => None

In [27]:
# Use the equality "==" symbol to compare objects to None

print("etc" == None)  # => False
print(None == None)   # => True

False
True

In [28]:
# None, 0, and empty strings/lists/dicts/tuples/sets all evaluate to False.
# All other values are True

print(bool(0))     # => False
print(bool(""))    # => False
print(bool([]))    # => False
print(bool({}))    # => False
print(bool(()))    # => False
print(bool(set()))  # => False

False
False
False
False
False
False

## Variables and Collections

In [29]:
# There are no declarations, only assignments.
# Convention is to use lower_case_with_underscores
some_var = 5
some_var  # => 5

5

In [30]:
# Accessing a previously unassigned variable is an exception.
# See Control Flow to learn more about exception handling.
# some_unknown_var  # Raises a NameError

In [31]:
# if can be used as an expression
# Equivalent of C's '?:' ternary operator
"yay!" if 0 > 1 else "nay!"  # => "nay!"

'nay!'

In [32]:
# Lists store sequences
li = []

# You can start with a prefilled list
other_li = [4, 5, 6]

In [33]:
# Add stuff to the end of a list with append
li.append(1)    # li is now [1]
print(li)

li.append(2)    # li is now [1, 2]
print(li)

li.append(4)    # li is now [1, 2, 4]
print(li)

li.append(3)    # li is now [1, 2, 4, 3]
print(li)

[1]
[1, 2]
[1, 2, 4]
[1, 2, 4, 3]

In [34]:
# Remove from the end with pop
li.pop()        # => 3 and li is now [1, 2, 4]
print(li)

[1, 2, 4]

In [35]:
# Let's put it back
li.append(3)    # li is now [1, 2, 4, 3] again.
print(li)

[1, 2, 4, 3]

In [36]:
# Access a list like you would any array
print(li[0])   # => 1

1

In [37]:
# Look at the last element
print(li[-1])  # => 3

3

In [38]:
# Looking out of bounds is an IndexError
#print(li[4])  # Raises an IndexError

In [39]:
# You can look at ranges with slice syntax.
# The start index is included, the end index is not
# (It's a closed/open range for you mathy types.)

print(li[1:3])   # Return list from index 1 to 3 => [2, 4]
print(li[2:])    # Return list starting from index 2 => [4, 3]
print(li[:3])    # Return list from beginning until index 3  => [1, 2, 4]
print(li[::2])   # Return list selecting every second entry => [1, 4]
print(li[::-1])  # Return list in reverse order => [3, 4, 2, 1]

# Use any combination of these to make advanced slices
# li[start:end:step]

[2, 4]
[4, 3]
[1, 2, 4]
[1, 4]
[3, 4, 2, 1]

In [40]:
# Make a one layer deep copy using slices
li2 = li[:]  # => li2 = [1, 2, 4, 3] but (li2 is li) will result in false.

In [41]:
# Remove arbitrary elements from a list with "del"
del li[2]  # li is now [1, 2, 3]

In [42]:
# Remove first occurrence of a value
print(li)
li.remove(2)  # li is now [1, 3]


#li.remove(2)  # Raises a ValueError as 2 is not in the list

[1, 2, 3]

In [43]:
# Insert an element at a specific index
li.insert(1, 2)  # li is now [1, 2, 3] again
print(li)

[1, 2, 3]

In [44]:
# Get the index of the first item found matching the argument
li.index(2)  # => 1

#li.index(4)  # Raises a ValueError as 4 is not in the list

1

In [45]:
# You can add lists
# Note: values for li and for other_li are not modified.
li + other_li  # => [1, 2, 3, 4, 5, 6]

[1, 2, 3, 4, 5, 6]

In [46]:
# Concatenate lists with "extend()"
li.extend(other_li)  # Now li is [1, 2, 3, 4, 5, 6]

In [47]:
li

[1, 2, 3, 4, 5, 6]

In [48]:
# Check for existence in a list with "in"
1 in li  # => True

True

In [49]:
# Examine the length with "len()"
len(li)  # => 6

6

In [50]:
# Tuples are like lists but are immutable.
tup = (1, 2, 3)
tup[0]      # => 1
#tup[0] = 3  # Raises a TypeError

1

In [51]:
# Note that a tuple of length one has to have a comma after the last element but
# tuples of other lengths, even zero, do not.
print(type((1)))   # => <class 'int'>
print(type((1,)))  # => <class 'tuple'>
print(type(()))    # => <class 'tuple'>

<class 'int'>
<class 'tuple'>
<class 'tuple'>

In [52]:
# You can do most of the list operations on tuples too
print(len(tup))         # => 3
print(tup + (4, 5, 6))  # => (1, 2, 3, 4, 5, 6)
print(tup[:2])          # => (1, 2)
print(2 in tup)         # => True

3
(1, 2, 3, 4, 5, 6)
(1, 2)
True

In [53]:
# You can unpack tuples (or lists) into variables
a, b, c = (1, 2, 3)  # a is now 1, b is now 2 and c is now 3

# You can also do extended unpacking
a, *b, c = (1, 2, 3, 4)  # a is now 1, b is now [2, 3] and c is now 4

# Tuples are created by default if you leave out the parentheses
d, e, f = 4, 5, 6  # tuple 4, 5, 6 is unpacked into variables d, e and f

# respectively such that d = 4, e = 5 and f = 6
# Now look how easy it is to swap two values
e, d = d, e  # d is now 5 and e is now 4

In [54]:
# Dictionaries store mappings from keys to values
empty_dict = {}
print(empty_dict)

# Here is a prefilled dictionary
filled_dict = {"one": 1, "two": 2, "three": 3}
print(filled_dict)

{}
{'one': 1, 'two': 2, 'three': 3}

In [55]:
# Note keys for dictionaries have to be immutable types. This is to ensure that
# the key can be converted to a constant hash value for quick look-ups.
# Immutable types include ints, floats, strings, tuples.

#invalid_dict = {[1,2,3]: "123"}  # => Raises a TypeError: unhashable type: 'list'


valid_dict = {(1,2,3):[1,2,3]}   # Values can be of any type, however.

In [56]:
# Get all keys as an iterable with "keys()". We need to wrap the call in list()
# to turn it into a list. We'll talk about those later.  Note - for Python
# versions <3.7, dictionary key ordering is not guaranteed. Your results might
# not match the example below exactly. However, as of Python 3.7, dictionary
# items maintain the order at which they are inserted into the dictionary.

list(filled_dict.keys())  # => ["three", "two", "one"] in Python <3.7
list(filled_dict.keys())  # => ["one", "two", "three"] in Python 3.7+

['one', 'two', 'three']

In [57]:
# Get all values as an iterable with "values()". Once again we need to wrap it
# in list() to get it out of the iterable. Note - Same as above regarding key
# ordering.
list(filled_dict.values())  # => [3, 2, 1]  in Python <3.7
list(filled_dict.values())  # => [1, 2, 3] in Python 3.7+

[1, 2, 3]

In [58]:
# Check for existence of keys in a dictionary with "in"
"one" in filled_dict  # => True
1 in filled_dict      # => False

False

In [59]:
# Looking up a non-existing key is a KeyError
#filled_dict["four"]  # KeyError

In [60]:
# Use "get()" method to avoid the KeyError
filled_dict.get("one")      # => 1
filled_dict.get("four")     # => None

# The get method supports a default argument when the value is missing
filled_dict.get("one", 4)   # => 1
filled_dict.get("four", 4)  # => 4

4

In [61]:
# "setdefault()" inserts into a dictionary only if the given key isn't present
filled_dict.setdefault("five", 5)  # filled_dict["five"] is set to 5
filled_dict.setdefault("five", 6)  # filled_dict["five"] is still 5

5

In [62]:
# Adding to a dictionary
filled_dict.update({"four": 4})  # => {"one": 1, "two": 2, "three": 3, "four": 4}
filled_dict["four"] = 4         # another way to add to dict

In [63]:
# Remove keys from a dictionary with del
del filled_dict["one"]  # Removes the key "one" from filled dict

In [64]:
# From Python 3.5 you can also use the additional unpacking options
{'a': 1, **{'b': 2}}  # => {'a': 1, 'b': 2}
{'a': 1, **{'a': 2}}  # => {'a': 2}

{'a': 2}

In [65]:
# Set
empty_set = set()
print(empty_set)

set()

In [66]:
some_set = {1, 1, 2, 2, 3, 4, 7, 6, 6}
print(some_set) 

# TODO
# Explain why we obtain this results?
# We obtain this result because set data type will automatically remove duplicate values and sort them ascendingly.

{1, 2, 3, 4, 6, 7}

In [67]:
# Similar to keys of a dictionary, elements of a set have to be immutable.
#invalid_set = {[1], 1}  # => Raises a TypeError: unhashable type: 'list'
valid_set = {(1,), 1}

In [68]:
# Add one more item to the set
filled_set = some_set
filled_set.add(5)  # filled_set is now {1, 2, 3, 4, 5}
# Sets do not have duplicate elements
filled_set.add(5)  # it remains as before {1, 2, 3, 4, 5}

print(filled_set)

{1, 2, 3, 4, 5, 6, 7}

In [69]:
# Do set intersection with &
other_set = {3, 4, 5, 6}

print(filled_set & other_set)  # => {3, 4, 5}

{3, 4, 5, 6}

In [70]:
# Do set union with |
print(filled_set | other_set)  # => {1, 2, 3, 4, 5, 6}

{1, 2, 3, 4, 5, 6, 7}

In [71]:
# Do set difference with -
print({1, 2, 3, 4} - {2, 3, 5})  # => {1, 4}

{1, 4}

In [72]:
# Do set symmetric difference with ^
print({1, 2, 3, 4} ^ {2, 3, 5})  # => {1, 4, 5}

{1, 4, 5}

In [73]:
# Check if set on the left is a superset of set on the right
print({1, 2} >= {1, 2, 3}) # => False

False

In [74]:
# Check if set on the left is a subset of set on the right
{1, 2} <= {1, 2, 3} # => True

True

In [75]:
# Check for existence in a set with in
print(2 in filled_set)   # => True

print(10 in filled_set)  # => False

True
False

In [76]:
# Make a one layer deep copy
filled_set = some_set.copy()  # filled_set is {1, 2, 3, 4, 5}
print(filled_set)

filled_set is some_set        # => False

{1, 2, 3, 4, 5, 6, 7}

False

## Control Flow and Iterables

In [77]:
if some_var > 20:
    print("some_var is totally bigger than 20.")
elif some_var < 20:    # This elif clause is optional.
    print("some_var is smaller than 10.")
else:                  # This is optional too.
    print("some_var is indeed 10.")

some_var is smaller than 10.

In [78]:
"""
For loops iterate over lists
prints:
    dog is a mammal
    cat is a mammal
    mouse is a mammal
"""
for animal in ["dog", "cat", "mouse"]:
    # You can use format() to interpolate formatted strings
    print("{} is a mammal".format(animal))

dog is a mammal
cat is a mammal
mouse is a mammal

In [79]:
"""
"range(number)" returns an iterable of numbers
from zero to the given number
prints:
    0
    1
    2
    3
"""
for i in range(4):
    print(i)

0
1
2
3

In [80]:
"""
"range(lower, upper)" returns an iterable of numbers
from the lower number to the upper number
prints:
    4
    5
    6
    7
"""
for i in range(4, 8):
    print(i)

4
5
6
7

In [81]:
"""
"range(lower, upper, step)" returns an iterable of numbers
from the lower number to the upper number, while incrementing
by step. If step is not indicated, the default value is 1.
prints:
    4
    6
"""
for i in range(4, 8, 2):
    print(i)

4
6

In [82]:
"""
To loop over a list, and retrieve both the index and the value of each item in the list
prints:
    0 dog
    1 cat
    2 mouse
"""
animals = ["dog", "cat", "mouse"]
for i, value in enumerate(animals):
    print(i, value)

0 dog
1 cat
2 mouse

In [83]:
"""
While loops go until a condition is no longer met.
prints:
    0
    1
    2
    3
"""
x = 0
while x < 4:
    print(x)
    x += 1  # Shorthand for x = x + 1

0
1
2
3

In [84]:
# Handle exceptions with a try/except block
try:
    # Use "raise" to raise an error
    raise IndexError("This is an index error")
except IndexError as e:
    # Pass is just a no-op. Usually you would do recovery here.
    pass
except (TypeError, NameError):
    # Multiple exceptions can be handled together, if required.
    pass
else:                    # Optional clause to the try/except block. Must follow all except blocks
    print("All good!")   # Runs only if the code in try raises no exceptions
finally:                 # Execute under all circumstances
    print("We can clean up resources here")

We can clean up resources here

In [85]:
# Writing to a file
contents = {"aa": 12, "bb": 21}

with open("myfile1.txt", "w+") as file:
    file.write(str(contents))        # writes a string to a file

In [86]:
# Import some module, we can use import keyword to import module that we need
import json

with open("myfile2.txt", "w+") as file:
    file.write(json.dumps(contents)) # writes an object to a file

In [87]:
# Reading from a file
with open('myfile1.txt', "r+") as file:
    contents = file.read()           # reads a string from a file
    
print(contents)

{'aa': 12, 'bb': 21}

In [88]:
with open('myfile2.txt', "r+") as file:
    contents = json.load(file)       # reads a json object from a file
    
print(contents)
# print: {"aa": 12, "bb": 21}

{'aa': 12, 'bb': 21}

In [89]:
# Python offers a fundamental abstraction called the Iterable.
# An iterable is an object that can be treated as a sequence.
# The object returned by the range function, is an iterable.
filled_dict = {"one": 1, "two": 2, "three": 3}
our_iterable = filled_dict.keys()
print(our_iterable)  # => dict_keys(['one', 'two', 'three']). This is an object that implements our Iterable interface.

dict_keys(['one', 'two', 'three'])

In [90]:
# We can loop over it.
for i in our_iterable:
    print(i)  # Prints one, two, three

one
two
three

In [91]:
# However we cannot address elements by index.
#our_iterable[1]  # Raises a TypeError

In [92]:
# An iterable is an object that knows how to create an iterator.
our_iterator = iter(our_iterable)

In [93]:
# Our iterator is an object that can remember the state as we traverse through it.
# We get the next object with "next()".
next(our_iterator)  # => "one"

'one'

In [94]:
# It maintains state as we iterate.
next(our_iterator)  # => "two"

'two'

In [95]:
next(our_iterator)  # => "three"

'three'

In [96]:
# After the iterator has returned all of its data, it raises a StopIteration exception
#next(our_iterator)  # Raises StopIteration

In [97]:
# We can also loop over it, in fact, "for" does this implicitly!
our_iterator = iter(our_iterable)
for i in our_iterator:
    print(i)  # Prints one, two, three

one
two
three

In [98]:
# You can grab all the elements of an iterable or iterator by calling list() on it.
list(our_iterable)  # => Returns ["one", "two", "three"]

['one', 'two', 'three']

In [99]:
list(our_iterator)  # => Returns [] because state is saved

[]

## Functions

In [100]:
# Use "def" to create new functions
def add(x, y):
    print("x is {} and y is {}".format(x, y))
    return x + y  # Return values with a return statement

In [101]:
# Calling functions with parameters
add(5, 6)  # => prints out "x is 5 and y is 6" and returns 11

x is 5 and y is 6

11

In [102]:
# Another way to call functions is with keyword arguments
add(y=6, x=5)  # Keyword arguments can arrive in any order.

x is 5 and y is 6

11

In [103]:
# You can define functions that take a variable number of
# positional arguments
def varargs(*args):
    return args

varargs(1, 2, 3)

(1, 2, 3)

In [104]:
# You can define functions that take a variable number of
# keyword arguments, as well
def keyword_args(**kwargs):
    return kwargs

# Let's call it to see what happens
keyword_args(big="foot", loch="ness")  # => {"big": "foot", "loch": "ness"}

{'big': 'foot', 'loch': 'ness'}

In [105]:
# You can do both at once, if you like
def all_the_args(*args, **kwargs):
    print(args)
    print(kwargs)
    
args = (1, 2, 3, 4)
kwargs = {"a": 3, "b": 4}
all_the_args(*args)            # equivalent to all_the_args(1, 2, 3, 4)
all_the_args(**kwargs)         # equivalent to all_the_args(a=3, b=4)
all_the_args(*args, **kwargs)  # equivalent to all_the_args(1, 2, 3, 4, a=3, b=4)

(1, 2, 3, 4)
{}
()
{'a': 3, 'b': 4}
(1, 2, 3, 4)
{'a': 3, 'b': 4}

In [106]:
# Function Scope
x = 5

def set_x(num):
    # Local var x not the same as global variable x
    x = num    # => 43
    print(x)   # => 43

def set_global_x(num):
    global x
    print(x)   # => 5
    x = num    # global var x is now set to 6
    print(x)   # => 6

set_x(43)
set_global_x(6)

43
5
6

In [107]:
# Python has first class functions
def create_adder(x):
    def adder(y):
        return x + y
    return adder

add_10 = create_adder(10)
add_10(3)   # => 13

13

In [108]:
# There are also anonymous functions
print((lambda x: x > 2)(3))                  # => True
print((lambda x, y: x ** 2 + y ** 2)(2, 1))  # => 5

True
5

In [109]:
f_x = lambda x : x**2 - 3 * x + 2
f_x(1)

0

In [110]:
# TODO:
# Define a lambda function to calculate f(x) = ax^3 + bx^2 + cx + d
# with x, a, b, c, d are integer number, depend on your choice

f_x3 = lambda x, a, b, c, d: a * (x ** 3) + b * (x ** 2) + c * x + d
f_x3(1, 2, 3, 4, 5)

14

In [111]:
# There are built-in higher order functions
print(list(map(add_10, [1, 2, 3])))         # => [11, 12, 13]
print(list(map(max, [1, 2, 3], [4, 2, 1])))  # => [4, 2, 3]

print(list(filter(lambda x: x > 5, [3, 4, 5, 6, 7])))  # => [6, 7]

[11, 12, 13]
[4, 2, 3]
[6, 7]

In [112]:
# We can use list comprehensions for nice maps and filters
# List comprehension stores the output as a list which can itself be a nested list
print([add_10(i) for i in [1, 2, 3]])         # => [11, 12, 13]
print([x for x in [3, 4, 5, 6, 7] if x > 5])  # => [6, 7]

# You can construct set and dict comprehensions as well.
print({x for x in 'abcddeef' if x not in 'abc'})  # => {'d', 'e', 'f'}
print({x: x**2 for x in range(5)})  # => {0: 0, 1: 1, 2: 4, 3: 9, 4: 16}

[11, 12, 13]
[6, 7]
{'e', 'f', 'd'}
{0: 0, 1: 1, 2: 4, 3: 9, 4: 16}

In [113]:
# Generators help you make lazy code.
def double_numbers(iterable):
    for i in iterable:
        yield i + i
        
# Generators are memory-efficient because they only load the data needed to
# process the next value in the iterable. This allows them to perform
# operations on otherwise prohibitively large value ranges.
# NOTE: `range` replaces `xrange` in Python 3.
for i in double_numbers(range(1, 900000000)):  # `range` is a generator.
    print(i)
    if i >= 30:
        break

2
4
6
8
10
12
14
16
18
20
22
24
26
28
30

In [114]:
# Just as you can create a list comprehension, you can create generator
# comprehensions as well.
values = (-x for x in [1,2,3,4,5])
for x in values:
    print(x)  # prints -1 -2 -3 -4 -5 to console/terminal

-1
-2
-3
-4
-5

In [115]:
# You can also cast a generator comprehension directly to a list.
values = (-x for x in [1,2,3,4,5])
gen_to_list = list(values)
print(gen_to_list)  # => [-1, -2, -3, -4, -5]

[-1, -2, -3, -4, -5]

In [116]:
# Decorators
# In this example `beg` wraps `say`. If say_please is True then it
# will change the returned message.
from functools import wraps


def beg(target_function):
    @wraps(target_function)
    def wrapper(*args, **kwargs):
        msg, say_please = target_function(*args, **kwargs)
        if say_please:
            return "{} {}".format(msg, "Please! I am poor :(")
        return msg

    return wrapper


@beg
def say(say_please=False):
    msg = "Can you buy me a beer?"
    return msg, say_please


print(say())                 # Can you buy me a beer?
print(say(say_please=True))  # Can you buy me a beer? Please! I am poor :(

Can you buy me a beer?
Can you buy me a beer? Please! I am poor :(

# References

[1] [Python. Learn X in Y minutes.](https://learnxinyminutes.com/docs/python/)